/* Background Content Start */
html {
	height:100%;
}
body {
	height:100%;
}
.container-fluid, .row, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  height:100%;
}

.bck-property {
	background-image : url(../images/askride_bg.svg);
	background-size : 100% 100%;
	background-position : top center;
	background-repeat : no-repeat;
	text-align : center;
	vertical-align : top;
}

table.bck-table {
	width : 100%;
	height : 100%;
}

tr.bck-topBlankPnl {
	height : 75%;
}

tr.bck-middleIconPnl {
	height : 15%;
	align : right;
}

tr.bck-topGenBlankPnl {
	height : 25%;
}

tr.bck-middleGenBlankPnl {
	height : 60%;
	vertical-align : top;
}

tr.bck-bottomGenBlankPnl {
	height : 15%;
}

input.bck-middleIconPnl-fb {
	width : 75%;
	height : 70%;
}

tr.bck-bottomBlankPnl {
	height : 10%;
}

.bck-middleGenTable {
	width: 100%;
	text-align: center;
}

/* Background Content End */


/* Section For Map - Start */
#map_wrapper {
    height: 100%;
	width:100%;
}

#map_canvas {
    width: 100%;
    height: 100%;
}
.info_content{
	width:200px;
	height:150px;
}

/* Section For Map - End */

/* Section For Credit Card - Start */
.crdTd {
	padding: 2%;
	width: 40%;
	text-align: center;
}
.crdTdImage {
	padding: 1%;
	text-align: center;
}
.crdSubmitTd {
	padding: 1%;
	width: 40%;
	text-align: center;
}

.inputText {
	text-align: left;
	width: 70%;
}

.autoHeightLeft{
	height: auto;
	width:100%;
	text-align: left;
}

/* Section For Credit Card - End */
/* Section For Payment - Start */
.infoTd{
	width: 50%;
	padding: 1%;
	text-align: right;
}
.valueTd{
	width: 50%;
	padding: 1%;
	text-align: left;
}
.floatInputText {
	text-align: right;
	width: 70%;
}

.autoHeight{
	height: auto;
	width:100%;
}

/* Section For Payment - End */